*.sqlite
__pycache__
os
*.o
*.a
*.dblite
*.class
*.iml
*.pyc
*.zip
*.dot
*.pdf
*.aux
*.png
*.log
*.tox
*.toc
*.xls
*.csv
*.pdf_tex
*.exe
codeforces/yandex_test/a.out
educational/__graduation_work__/
*.classpath
*.project
educational/c1_practice/bfs/a.out
forgery/java-test-task/*.txt
jumble/haskell-lists/.stack-work/
*.vscode/
tutorials/gtkmm/tree_store/tree_store
jumble/random/*.out
jumble/HW-flask-vsc/
