*.sqlite
__pycache__
os
*.o
*.a
*.dblite
*.class
*.iml
*.pyc
*.zip
*.dot
*.pdf
*.aux
*.png
*.log
*.tox
*.toc
*.xls
*.csv
*.pdf_tex
codeforces/yandex_test/a.out
educational/__graduation_work__/
*.classpath
*.project
educational/c1_practice/bfs/a.out
