
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block subtitle %}Home{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>
            Welcome, 
            {% if current_user.is_authenticated %}
                {{ current_user.username }}!
            {% else %}
                Stranger!
            {% endif %}
        </h1>
    </div>
    {% if current_user.Can(Permission.WRITE_ARTICLES) %}
        <div>
        {{ wtf.quick_form(form) }}     
        </div>
    {% endif %}
    {% include '_posts.html' %}

{% endblock %}
